.Iterative {
  /* background-color: bisque; */
  background-image: linear-gradient(to bottom right, yellow, #e07777);
}

h3 {
  text-align: start;
  justify-content: start;
}

.intro {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.nav-item {
  margin-inline-end: 0.5rem;
  margin-inline-start: 0.0rem;
}

.sketch-a {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vw;
  padding-top: 2vw;
  margin: 5vw;
  text-align: start;
  /* background-color: rgb(255 255 255 / 40%); */
  border-radius: 3px;
}

.sketch-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2vw;
  padding-top: 2vw;
  margin: 5vw;
  /* background-color: rgb(255 255 255 / 40%); */
  border-radius: 3px;
}

.sketch-a img,.sketch-b img {
  width: 45%;
  margin: 2vh;
}

#user-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  width: 80%;
}

.video-embed {
  width: 500px;
  height: 450px;
}

.list-group-item {
  background-color: rgba(255, 235, 205, 0.281);
}

img {
  border-radius: 4px;
}
