.Redesign {
  /* background-color: bisque; */
  background-image: linear-gradient(to bottom right, rgba(255, 255, 0, 0.517), #e07777c1);
}

.intro {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.nav-item {
  margin-inline-end: 0.5rem;
  margin-inline-start: 0.0rem;
}

.list-group-item {
  background-color: rgba(255, 235, 205, 0.281);
}

img {
  border-radius: 4px;
}
